@model FYP.Models.Dashboard.Answer
@{

}
<body style="" class="links-background">

</body>


<div class="row signin-pageContent col-5">
    <div class="text-white bg-black bg-opacity-50 p-3 rounded">
        <center><label class="text-white fw-bold text-uppercase fs-2 text-success"> Edit Answer </label></center>
        <hr />
        <form asp-action="EditAnswer" asp-controller="Dashboard" method="post">
            <input type="hidden" asp-for="Question_ID" />
            <input type="hidden" asp-for="Answered_By" />
            <input type="hidden" asp-for="Date" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-1">
                <label asp-for="_Answer" class="control-label"></label>
                <textarea asp-for="_Answer" class="form-control text-white bg-black bg-opacity-50"></textarea>
                <span asp-validation-for="_Answer" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Submit Answer" class="btn btn-primary hover" />
            </div>
        </form>
    </div>
</div>
