@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body style="" class="AccessDenied-background">

</body>


<div class="row bg-black bg-opacity-75 signin-pageContent col-8 p-2 rounded">
    <div class="col-6 m-auto text-center">
        <h1 class="text-danger">Access Denied</h1>
        <p class="text-danger">You don't have permission to view this source.</p>
    </div>
    <div class="col-6">
        <img class="filt" style="height:20rem;" src="~/icons/access-denied-svgrepo-com.svg" />
    </div>
</div>

